mat-card {
  min-height: fit-content;
  align-content: center;
  max-width: fit-content;
}
.group{
 display: flex;
 min-height: fit-content;

}
.movieStuff{
  font-size-adjust: inherit;
}
.posterDiv {
  align-content: center;
  object-position: center;
  margin: 5%;

}
.poster{
  height: max-content;
  width: max-content;
  object-fit: cover;

}
.item{
  border: 2px solid blueviolet;
  border-radius: 2px;
  max-height: fit-content;
  margin: .5em;
  padding: 2%;
  width: 200pt;
  height: fit-content;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
  font-size: 2.4em;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}

.mat-raised-button{
  background-color: black;
  color: aliceblue;
}

.star{
  border-color: gold;
  color: gold;
}

h4{
  border: 2px;
  color: gold;
}

.mainRow{
  margin: 2% 5%;
}

.leftDiv{
  padding: 3%;
}
