<div class="mainRow" fxLayout="row" fxLayoutAlign="start start">
  <div class="leftDiv" fxLayout="column">
      <h1 class="mat-h">{{movie.title}}</h1>
      <h4 id="rating" class="mat-h2">Rating: {{movie.imdbRating}}/10</h4>
    <ng-container *ngIf="moviePoster; else elseTemplate">
      <div  class = "posterDiv" fxLayout="row">
      <img mat-card-image class = "poster mat-elevation-z3"  [src]="moviePoster" alt="{{movie.title}}">
    </div>
    </ng-container>
    <ng-template #elseTemplate>
      <img mat-card-image class = "poster"  src="../../assets/no_poster.jpg" alt="No poster image">
    </ng-template>
    <ng-container *ngIf="movie.favorite; else isFavorited">
      <button mat-button (click)="unfavoriteMovie(movie)">
          <mat-icon class="star mat-elevation-z5">
            star
          </mat-icon>
      </button>
    </ng-container>
  </div>
  <div fxLayout="column">
      <mat-list fxLayout="column" class="movieStuff">
        <mat-list-item class = "item">Genre: {{movie.genre}}</mat-list-item>
        <mat-list-item class = "item">Runtime: {{movie.runtime}}</mat-list-item>
        <mat-list-item class = "item">Actors: {{movie.actors}}</mat-list-item>
        <mat-list-item class = "item">Director: {{movie.director}}</mat-list-item>
        <mat-list-item class = "item">Released: {{movie.released}}</mat-list-item>
        <mat-list-item class = "item">Rated: {{movie.rated}}</mat-list-item>
        <mat-list-item class = "item">Awards: {{movie.awards}}</mat-list-item>
        <mat-list-item class = "item">{{movie.plot}}</mat-list-item>
      </mat-list>
      <ng-template #isFavorited>
        <button mat-button (click)="favoriteMovie(movie)">
            <mat-icon class="star">
                star_border
            </mat-icon>
          </button>
    </ng-template>
</div>
</div>
<router-outlet></router-outlet>
